[Desktop Entry]
Encoding=UTF-8
Name=AlpineBot
Comment=AlpineBot P2P Cryptocurrency
Comment[fr]=AlpineBot, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AlpineBot, eşten eşe kriptografik sanal para birimi
Exec=alpinebot-qt %u
Terminal=false
Type=Application
Icon=alpinebot128
MimeType=x-scheme-handler/alpinebot;
Categories=Office;Finance;
